[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = https://github.com/vim-scripts/ack.vim.git
[submodule "home/.vim/bundle/l9"]
	path = home/.vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "home/.vim/bundle/taglist"]
	path = home/.vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "home/.vim/bundle/fuzzyfinder"]
	path = home/.vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "home/.vim/bundle/gundo"]
	path = home/.vim/bundle/gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "home/.vim/bundle/vimwiki"]
	path = home/.vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "home/.vim/bundle/coffeescript"]
	path = home/.vim/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
