[alias]
  st = status
  br = branch
  tree = log --graph --oneline --decorate --color --all

[user]
  name = Chris Moylan
  email = chris@chrismoylan.com

[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[merge]
  tool = vimdiff
  conflictstyle = diff3
  prompt = false

[core]
  excludesfile = ~/.global_gitignore
  pager = less -r
[diff]
  tool = vimdiff
