layout {
    cwd "~/Programs/price-scrape"

    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane
      }

      pane split_direction="horizontal" {
        pane command="bash" {
          args "-c" "psql -h localhost -p 5431 -d lifepo4-development -U postgres"
        }
        pane command="bash" {
          args "-c" "redis-commander -p 8002"
        }
      }
    }

    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
