layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="shell" {
        pane command="sudo zsh"
    }
    tab name="pritnavo" cwd="~/Programs/Printavo"{
        pane split_direction="vertical" {
            pane command="fish"
            pane command="fish"
        }
    }
    tab name="regex" cwd="~/Programs/regex.ai"{
        pane command="bash"
    }
}
