layout {
    cwd "/Users/chrismoylan/Programs/Printavo"

    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane
        pane command="fish" {
          args "-c rc"
        }
      }

      pane split_direction="horizontal" {
        pane command="fish" {
          args "-c" "rs"
        }
        pane command="fish" {
          args "-c" "be sidekiq"

        }
        pane command="fish" {
          args "-c" "bin/vite dev"
        }
      }
    }

    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
